<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardCommentMapper">

	<select id="bcmntNo" parameterType="bcDTO" resultType="string">
		SELECT NVL(MAX(B_CMNT_NO), 0) + 1
		FROM BOARD_COMMENT
		WHERE BOARD_NO = #{boardNo}
	</select>
	<select id="cmntList" resultType="bcDTO" parameterType="string">
		select CMNT_MEM_ID cmntMemId, B_CMNT_CON boardCmntCon, B_CMNT_DATE boardCmntDate
		from board_comment
		where BOARD_NO = #{boardNo}
	</select>
	<insert id="bcmntWrite" parameterType="bcDTO">
		INSERT INTO BOARD_COMMENT(B_CMNT_NO, CMNT_MEM_ID, BOARD_MEM_ID, 
								  BOARD_NO, B_CMNT_CON, B_CMNT_DATE)
		VALUES (#{boardCmntNo},#{cmntMemId},#{boardMemId},#{boardNo},#{boardCmntCon},sysdate)
	</insert>

</mapper>