<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
	<select id="noticeOne" resultType="Model.NoticeDTO">
		select  ROWNUM rn ,NOTICE_NO noticeNo, NOTICE_TITLE noticeTitle, NOTICE_CON noticeCon, 
			   NOTICE_DATE noticeDate, NOTICE_KIND noticeKind, NOTICE_FILE noticeFile, 
			   NOTICE_CNT noticeCnt, EMP_NO empNo
		from (select *from notice order by notice_no desc )where notice_kind=1 and rownum=1
	</select>
	
	<sql id="boardNum">
		select nvl(max(board_NO),0) + 1 from board
	</sql>
	<delete id="boardDel" parameterType="string">
		delete from board
		where board_no=#{boardNo}
	</delete>
	<insert id="boardWrite">
		insert into Board(
		board_no,board_title,board_con,board_cnt,mem_id, board_date,board_file
		,board_org_file,board_file_size
		)
		values(
		(<include refid="boardNum"/>),#{boardTitle},#{boardCon},0,#{memId},sysdate,
		<if test="boardFile == null">null,null,null</if>
		<if test="boardFile != null">
			#{boardFile},#{boardOrgFile},#{boardFileSize}
		</if>
		)

	</insert>
	<select id="boardList" parameterType="Model.BoardDTO" resultType="Model.BoardDTO">
	select ROWNUM, boardNo, boardTitle, boardCon, boardDate, BOARD_FILE, boardCnt, memId
		from(
			select
			 Board_NO boardNo, board_title boardTitle,BOARD_CON boardCon,
			BOARD_DATE boardDate, BOARD_FILE, BOARD_CNT boardCnt, MEM_ID memId
			from BOARD
			order by board_no desc)
		<trim prefix="where">
			<if test="startEndPageDTO != null">
				boardNo between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
			</if>
		</trim>
	</select>
	
	<select id="mainBoardList" resultType="Model.BoardDTO">
		select rownum, boardNo, boardTitle,boardCon, boardDate, BOARD_FILE, boardCnt, memId
		<![CDATA[
		from   (select
		        Board_NO boardNo, board_title boardTitle,BOARD_CON boardCon,
		        BOARD_DATE boardDate, BOARD_FILE, BOARD_CNT boardCnt, MEM_ID memId
		        from BOARD 
		        order by Board_NO desc
		)where rownum < 5
		]]>
	</select>
	
	<update id="boardCnt" parameterType="string">
		update board
		set board_Cnt =board_Cnt +1
		where board_NO= #{boardNo}
	</update>
	<select id="boardDetail" parameterType="string"
		resultType="Model.BoardDTO">
		select board_NO boardNo, board_title boardTitle,board_con boardCon,
		board_date boardDate, board_FILE boardFile, board_Cnt boardCnt,
		mem_id
		memID ,board_org_file boardOrgFile,board_file_size boardFileSize
		from
		board
		where board_no= #{boardNo}
	</select>
	<update id="boardModify" parameterType="Model.BoardDTO">
		update board
		set
		board_title = #{boardTitle},
		board_Con = #{boardCon} ,
		board_org_file =#{boardOrgFile},
		board_file_size =#{boardFileSize},
		board_file=#{boardFile}
		where board_no = #{boardNo}
	</update>
	<select id="count" resultType="int">
		select count(*) from board
	</select>

</mapper>