<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BookmarkMapper">

	<insert id="bookmarkAdd" parameterType="Model.BookmarkDTO">
		insert into bookmark
		(menu_No,bookmark_kind,mem_id)
		values(#{menuNo},1,#{memId})
	</insert>


	<select id="bookmarkList" parameterType="string"
		resultType="command.BookmarkCommend">
  select menu_name menuName, menu_no menuNo 
        from menu
        where menu_no in
        (select menu_no 
        from bookmark  where mem_id=#{memId})

	</select>
	<delete id="bookmarkDelete" parameterType="Model.BookmarkDTO">
		delete from bookmark
		where MEM_ID =#{memId} and MENU_NO=#{menuNo}

	</delete>
</mapper>