<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">
<select id="memInfo" parameterType="string" resultType="Model.MemberDTO">
	select MEM_ID memId,MEM_PW memPw,MEM_NICK memNick, MEM_NAME memName,
	 	   MEM_PHONE memPhone, MEM_SEX memSex, MEM_EMAIL memEmail, 
	 	   MEM_EMAIL_CHK memEmailChk
	from member
	where MEM_ID = #{memId}
</select>
<update id="memEdit" parameterType="Model.MemberDTO">
	update member
	set MEM_EMAIL = #{memEmail}, MEM_EMAIL_CHK = #{memEmailChk},
		MEM_PHONE = <if test="memPhone == null">null</if>
					<if test="memPhone != null">#{memPhone}</if>,
		MEM_NICK = #{memNick}
	where mem_id = #{memId}
</update>
<update id="memPwUpdate" parameterType="Model.MemberDTO">
	update member
	set MEM_PW = #{memPw}
	where mem_id = #{memId}
</update>
<delete id="memOut" parameterType="string">
	delete from member
	where MEM_ID = #{memId}
</delete>
</mapper>