<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MenuMapper">
<select id="mainMenuList" resultType="Model.MenuDTO">
	select rownum,menuNo,menuRecipe,menuName,menuImg,menuMainItem,menuSubItem,menuRecmnd,menuCnt,empNo,menuDate
	<![CDATA[
		from(
			select 
			rownum rn , MENU_NO menuNo,MENU_RECIPE menuRecipe,MENU_NAME menuName,menu_img menuImg,MENU_MAIN_ITEM menuMainItem,MENU_SUB_ITEM menuSubItem,
			MENU_RECMND menuRecmnd,MENU_CNT menuCnt,EMP_NO empNo,MENU_DaTE menuDate from menu 
			  WHERE to_char(menu_date,'yy/mm') like ( select to_char(ADD_MONTHS(SYSDATE,-1),'YY/MM') FROM DUAL)
			order by menu_Cnt desc
			) where rownum <4
	]]>

</select>


	<select id="menuList" parameterType="Model.MenuDTO"
		resultType="Model.MenuDTO">
	select rn, menuNo,menuName,menuImg,menuRecmnd,menuCnt,empNo,menuDate, empId
		from(
	        select
	        rownum rn,  menuNo,  menuName, menuImg,
	         menuRecmnd,  menuCnt,  empNo,  menuDate,
	         empId
	        from (select menu_no menuNo, menu_name  menuName, menu_img menuImg, menu_Recmnd menuRecmnd,menu_cnt menuCnt, m.emp_no empNo , menu_date menuDate,
            e.emp_id empId
            from menu m , employees e
            where m.emp_no=e.emp_no
            order by menu_no desc
            ))
		<if test="startEndPageDTO != null">
			where rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
		</if>
	</select>

	<select id="menuNo" resultType="string">
		select nvl(max(MENU_NO),0) + 1
		from menu
	</select>

	<select id="menuDetail" parameterType="string" resultType="Model.MenuDTO">
		select  MENU_NO menuNo, MENU_RECIPE menuRecipe, MENU_NAME menuName, MENU_IMG menuImg,
				MENU_MAIN_ITEM menuMainItem, MENU_SUB_ITEM menuSubItem, MENU_RECMND menuRecmnd,
				MENU_CNT menuCnt, m.EMP_NO empNo, MENU_DATE menuDate, emp_id empId
		from menu m, employees e
		where m.emp_no = e.emp_no and MENU_NO = #{menuNo}
	</select>

	<insert id="menuWrite" parameterType="Model.MenuDTO">
		insert into menu(
		MENU_NAME, MENU_MAIN_ITEM, MENU_SUB_ITEM, MENU_RECIPE,
		MENU_NO, MENU_DATE, MENU_IMG, MENU_CNT, MENU_RECMND, EMP_NO
		)

		values(
		#{menuName},#{menuMainItem},
		<if test="menuSubItem == null">null</if>
		<if test="menuSubItem != null">#{menuSubItem}</if>
		,
		#{menuRecipe},
		#{menuNo},sysdate,

		<if test="menuImg == null">null</if>
		<if test="menuImg != null">#{menuImg}</if>
		,0,0, #{empNo}
		)
	</insert>

	<select id="count" resultType="int">
		select count(*) from menu
	</select>

	<delete id="menuDel" parameterType="string">
		delete from menu
		where MENU_NO = #{menuNo}
	</delete>
	<update id="menuModify" parameterType="Model.MenuDTO">
		update menu
		set
		menu_name = #{menuName},
		menu_main_item = #{menuMainItem},
		menu_sub_item =
		<if test="menuSubItem == null">null</if>
		<if test="menuSubItem != null">#{menuSubItem}</if>
		,
		menu_recipe = #{menuRecipe},
		menu_img =
		<if test="menuImg == null">null</if>
		<if test="menuImg != null">#{menuImg}</if>
		where menu_no = #{menuNo}
	</update>
	<update id="menuCnt" parameterType="string">
		update menu
		set menu_CNT = menu_CNT + 1
		where menu_NO = #{menuNo}
	</update>


</mapper>
<!-- MENU_NO NOT NULL NUMBER MENU_RECIPE NOT NULL VARCHAR2(3000) MENU_NAME 
	NOT NULL VARCHAR2(200) MENU_IMG VARCHAR2(200) MENU_MAIN_ITEM NOT NULL VARCHAR2(200) 
	MENU_SUB_ITEM VARCHAR2(300) MENU_RECMND NOT NULL NUMBER MENU_CNT NOT NULL 
	NUMBER EMP_NO NUMBER MENU_DATE NOT NULL DATE -->