<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.noticeMapper">
<select id="noticeList" resultType="Model.NoticeDTO" parameterType="Model.NoticeDTO">
 select  rn,  noticeNo,  noticeTitle,  noticeCon, 
		    noticeDate,  noticeKind,  noticeFile, 
		    noticeCnt,  empNo
	from (
	select ROWNUM rn, NOTICE_NO noticeNo, NOTICE_TITLE noticeTitle, NOTICE_CON noticeCon, 
		   NOTICE_DATE noticeDate, NOTICE_KIND noticeKind, NOTICE_FILE noticeFile, 
		   NOTICE_CNT noticeCnt, EMP_NO empNo
	from NOTICE
 	where notice_kind=1
    order by notice_no desc)
		<trim prefix="where">
		<if test="startEndPageDTO != null">
			rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
		</if>
		</trim>
</select>

<insert id="noticeWrite" parameterType="Model.NoticeDTO">
	insert into NOTICE(NOTICE_NO, NOTICE_TITLE, NOTICE_CON, NOTICE_DATE, 
				 NOTICE_KIND, NOTICE_CNT, EMP_NO, NOTICE_FILE,
				 NOTICE_ORG_FILE, NOTICE_FILE_SIZE)
	values(#{noticeNo},#{noticeTitle},#{noticeCon},sysdate,1,0,#{empNo},
		   <if test="noticeFile == null">null,null,null</if>
		   <if test="noticeFile != null">#{noticeFile},#{noticeOrgFile},#{noticeFileSize}</if>)
</insert>
<select id="noticeNo" resultType="string">
	select nvl(max(NOTICE_NO),0) + 1 from notice
</select>
<update id="noticeCount" parameterType="string">
	update NOTICE
	set NOTICE_CNT = NOTICE_CNT + 1
	where notice_kind = 1 and NOTICE_NO = #{noticeNo}
</update>
<select id="noticeDetail" parameterType="string" resultType="Model.NoticeDTO">
	select	NOTICE_NO noticeNo, NOTICE_TITLE noticeTitle, NOTICE_CON noticeCon,
			NOTICE_DATE noticeDate, NOTICE_KIND noticeKind, NOTICE_FILE noticeFile, 
			NOTICE_CNT noticeCnt, EMP_NO empNo,
			NOTICE_ORG_FILE noticeOrgFile, NOTICE_FILE_SIZE noticeFileSize
	from NOTICE
	where notice_no = #{noticeNo}
</select>
<delete id="noticeDel" parameterType="string">
	delete from notice
	where NOTICE_NO = #{noticeNo}
</delete>
<select id="mainNoticeList" resultType="Model.NoticeDTO">
select rownum,noticeNo,noticeTitle,noticeCon,noticeDate,notice_file,noticeCnt,noticeKind,empNo
<![CDATA[
from(
	select NOTICE_NO noticeNo,NOTICE_TITLE noticeTitle,NOTICE_CON noticeCon,
	NOTICE_DATE noticeDate,NOTICE_FILE notice_file,NOTICE_CNT noticeCnt,NOTICE_KIND noticeKind,emp_no empNo
	from notice 
	where notice_kind=1
	order by Notice_No desc
	
)
where rownum<5
]]>


</select>
<update id="noticeEdit" parameterType="Model.NoticeDTO">
	update notice
	set 
		notice_title = #{noticeTitle},
		notice_con = #{noticeCon},
		notice_org_file =#{noticeOrgFile},
		notice_file_size =#{noticeFileSize},
		notice_file=#{noticeFile}
	where notice_no = #{noticeNo}
</update>
	<select id="count" resultType="int">
		select count(*) from notice
		where notice_kind=1
	</select>

</mapper>