<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.SearchMapper">
	<select id="menuSearch" parameterType="Model.MenuDTO" resultType="Model.MenuDTO">
		SELECT ROWNUM rn, MENU_NO menuNo, MENU_NAME menuName, MENU_IMG menuImg, 
			    MENU_RECMND menuRecmnd, MENU_CNT menuCnt, EMP_NO empNo,         
		    	MENU_DATE menuDate  
		FROM MENU
		WHERE MENU_NAME LIKE '%'||#{menuName}||'%'
		<if test="startEndPageDTO != null">
			and ROWNUM between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
		</if>
	</select>

	<select id="count" parameterType="string" resultType="int">
		SELECT MAX(ROWNUM)
		FROM MENU
		WHERE MENU_NAME LIKE '%'||#{searchCon}||'%'
	</select>
</mapper>