<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.SearchMapper">
	<select id="selectSearch" parameterType="string" resultType="Model.MenuDTO">
		SELECT menu_no menuNo, menu_name menuName, menu_img menuImg,
      		   menu_recmnd menuRecmnd, menu_cnt menuCnt, emp_no empNo, menu_date menuDate
		FROM menu
		WHERE menu_main_item like '%'||#{menuItem}||'%'
	</select>

	<select id="menuSearch" parameterType="Model.MenuDTO" resultType="Model.MenuDTO">
		SELECT rn, menuNo, menuName, menuImg, menuRecmnd, menuCnt, empNo, menuDate
		FROM 
			(SELECT ROWNUM rn, MENU_NO menuNo, MENU_NAME menuName, MENU_IMG menuImg, 
			        MENU_RECMND menuRecmnd, MENU_CNT menuCnt, EMP_NO empNo,         
			        MENU_DATE menuDate  
			FROM MENU 
			WHERE MENU_NAME LIKE '%'||#{menuName}||'%')
		<if test="startEndPageDTO != null">
			WHERE rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
		</if>
	</select>

	<select id="count" parameterType="string" resultType="int">
		SELECT MAX(ROWNUM)
		FROM MENU
		WHERE MENU_NAME LIKE '%'||#{searchCon}||'%'
	</select>
</mapper>