<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
		<bean class = "controller.main.MainController"/>
		<bean class = "service.main.MemberJoinService"/>
		<bean class = "service.main.ChekcIdService"/>
		<bean class = "repository.RegisterRepository"/>
		<bean class="service.main.CookieService"/>
		<bean class="service.main.IdFindFinishService" />
		<bean class="service.main.FindPasswordService" />
		<bean class="service.main.MailService"/>
</beans>