<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class = "repository.EmployeeRepository"/>
	<bean class = "controller.employee.EmployeeMyPageController"/>
	<bean class = "service.employee.EmployeeNumService"/>
	<bean class = "service.employee.EmployeeInfoService"/>
	<bean class = "service.employee.EmployeeOutService"/>
	<bean class = "service.employee.EmployeeModifyService"/>
	<bean class = "service.employee.EmployeeDeleteService"/>
	<bean class = "service.employee.EmployeePwConfirmService"/>
	<bean class = "service.employee.EmployeePwUpdateService"/>
</beans>