<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>

	<bean class = "controller.member.MemberMyPageController"/>
	<bean class = "controller.member.MemberController"/>
	<bean class = "repository.MemberRepository"/>
	
	<bean class = "service.member.MemberDetailService"/>
	<bean class = "service.member.MemberEditService"/>
	<bean class = "service.member.MemberPwConfirmService"/>
	<bean class = "service.member.MemberPwUpdateService"/>
	<bean class = "service.member.MemberOutService"/>
	<bean class = "service.member.MemberListService"/>
</beans>