/* all */
/* #72CC82 base #3CB371 main #109972 accent #EFFFE9 font #754F44 button*/
/* 
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--구글 폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
*/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poor Story', cursive;
}

a {
	text-decoration: none;
}

a:link {
	color: #EFFFE9;
}

a:visited {
	color: #EFFFE9;
}

a:hover {
	color: rgb(240, 236, 42);
}

li {
	list-style: none;
}

/* table */
body {
	background-color: #EFFFE9;
	font-size: 30px;
	color: #EFFFE9;
}

table{
    width: 500px;
    height: 500px;
    border: #72CC82 solid 1px;
	background-color: #109972;
	border-radius: 10px;
	width: 500px;
	height: 500px;
	text-align: center;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-250px, -250px);
}
button{
	width: 90%;
	height: 45px;
	border-radius: 10px;
	background-color: #754F44;
	color: #EFFFE9;
	font-size: 30px;
	border: 2px #EFFFE9 solid;
}